  [class*='col-'] {
	  
	 /* border: 1px solid gray;   */
  }

  .title-color{
    
    background-color: aliceblue;
    color: black;

  }
  
  .header-height{height: 250px;}
  .menu-height{height: 50px;}
  .content-height{height: 750px;}
  .big-footer-height{height: 350px;}
  .footer-height{height: 50px;}
  
  .title-theme{
	  background-color: crimson;
	  
  }
  .client-section{
	   padding: 100px;
	   background-image:url(../images/30.jpg);
	   background-size: cover;
	   background-attachment: fixed;
       
	      }
  
  
@media screen and (min-width: 480px ) and (max-width: 575px )  {
 .col-xs-l {width: 8.33%; }
 .col-xs-2 {width: 16.66%; }
 .col-xs-3 {width: 25%; }
 .col-xs-4 {width: 33.33%; }
 .col-xs-5 {width: 41.66%; }
 .col-xs-6 {width: 50%; }
 .col-xs-7 {width: 58.33%; }
 .col-xs-8 {width: 66.66%; }
 .col-xs-9 {width: 75%; }
 .col-xs-l0 {width: 83.33%; }
 .col-xs-l1 {width: 91.66%; }
 .col-xs-l2 {width:  100%; }
	
         }

 